*{
    font-size: 12px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1.2fr 5fr;
    height: max-content;
}

.sidebar{
    --bg-color: rgb(170, 200, 167);
    display: grid;
    grid-template-rows: 10vh 45vh 45vh;
    background-color: var(--bg-color);
    gap: 3rem;
    position: relative;
    z-index: 10;
}

.right-part{
    height: max-content;
}

.sidebar h1{
    font-size: 3rem;
    font-family: 'Righteous', cursive;
} 

.sidebar h2 {
    font-size: 2rem;
    font-family: 'Kanit', sans-serif;
}

.logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin-left: 2rem;
}

.logo img{
    height: 4rem;
}

.middle-part{
    display: grid;
    grid-template-rows: repeat(6, minmax(auto, 5%));
    gap: 3rem;
}

.last-part{
    display: grid;
    grid-template-rows: repeat(3, minmax(auto, 5%));
    gap: 3rem;
}

.header{
    --bg-color: rgb(231, 231, 231);
    font-family: 'Kanit', sans-serif;
    display: grid;
    grid-template-rows: 1fr 1.5fr;
    padding-top: 1rem;
    padding-bottom: 1rem;
    gap: 1rem;
    position:relative;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    min-height: 20vh;
    height: max-content;
}

.search-area{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.search{
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 5rem;
    gap: 2rem;
}

.search input{  
    border: 3px solid rgb(195, 237, 192);
    background-color: whitesmoke;
    padding-left: 15px;
    height: 4rem;
    width: 70rem;
    border-radius: 15px;
    outline: none;
    color: #000000;
    font-size: 2rem;
}

.search-area .user{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.search-area .user img{
    height: 4rem;
}

.search-area .user .fi{
    font-size: 2rem;
}

.search-area .user h1{
    font-size: 2rem;
}

.user-info {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
}

.user-info .user {
    display: flex;
    gap: 2rem;
    padding-left: 5rem;
    justify-content: left;
    align-items: center;
}

.user-info .user h1{
    font-size: 2.5rem;
}

.user-info .user p{
    font-size: 2rem;
}

.user-info button{
    border: 0px;
    border-radius: 50px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    height: 4rem;
    width: auto;
    font-size: medium;
    font-weight: 500;
    margin: 2rem;
}

.user-info button:hover{
    background-color: rgb(170, 200, 167);
    color: white;
    cursor: pointer;
}

.board{
    display: grid;
    grid-template-columns: 5fr 2fr;
    background-color: whitesmoke;
    padding: 2rem;
    gap: 1.5rem;
    height: max-content;
    
}

.board h1{
    font-family: 'Righteous', cursive;
    font-size: 2rem;
}

.board p{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.5rem;
}

.projects{
    display: grid;
    grid: [first-row-start] "title title" 2rem[first-row-end]
          [second-row-start]"card card" 1fr[second-row-end]
          [third-row-start] "card card" 1fr[third-row-end]
          [fourth-row-start]"card card" 1fr[fourth-row-end]
          / 1fr 1fr;
    gap: 1.5rem;
    height: 70%;
}

.projects h1{
    grid-area: title;
}

.card{
    display: flex;
    flex-wrap: wrap;
    justify-items: right;
    background-color: rgb(195, 237, 192);
    border-radius: 10px;
    padding: 1.5rem;
    gap: 1rem;
    border-left-width: 15px;
    border-left-style: solid;
    border-left-color: rgb(253, 255, 174);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card h1, .content h1{
    font-family: 'Kanit', sans-serif;
    font-size: 2rem;
}

.card-icon{
    display: flex;
    gap: 1.5rem;
    margin-left: auto;
    margin-right: 3rem;
}

.board-right-part{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.announcements{
    display: grid;
    grid: [first-row-start] "title title" 2rem[first-row-end]
          [second-row-start]"content" 1fr[second-row-end]
          [third-row-start] "content" 1fr[third-row-end]
          [fourth-row-start]"content" 1fr[fourth-row-end]
          / 1fr;
    gap: 1.5rem;
    padding: 2rem;
    padding-top: 0px;
    width: auto;
}

.contents{
    display: grid;
    grid-template-rows: 1fr 1px 1fr 1px 1fr;
    gap: 1rem;
    background-color: rgb(195, 237, 192);
    padding: 2rem;
    border-radius: 10px;
}

.content h1{
    font-size: 2rem;
}

.content p{
    font-size: 1.5rem;
    color: gray;
}

.trending{
    display: grid;
    grid-template-rows: 2rem 1fr;
    gap: 1.5rem;
    padding: 2rem;
    padding-top: 0;
    height: max-content;
    width: auto;
    border-radius: 10px;
}

.users{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    background-color: rgb(195, 237, 192);
    padding: 2rem;
    border-radius: 10px;
    place-content: center;
}

.otherUser{
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center; 
    width: max-content;
}

.fi{
    font-size: 2.5rem;
}

.icon{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin-left: 3.5rem;
}

.hr{
    width: 200px;
}

img {
    height: 5rem;
}

